<!-- Start Breadcrumbs -->
<app-breadcrumbs title="DASHBOARD" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col">
        <div class="h-100">
            <div class="row mb-3 pb-1">
                <div class="col-12">
                    <div class="align-items-lg-center">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card card-height-100">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="map-container">
                                                <div class="map-frame">
                                                    <div id="map"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card card-height-100">
                                    <div class="card-header align-items-center d-flex">
                                        <h4 class="card-title mb-0 flex-grow-1">{{barDistritoName}}</h4>
                                    </div>
                                    <div class="card-body p-0">
                                        <div>
                                            <apx-chart [series]="basicBarChart.series" [colors]="basicBarChart.colors"
                                                [chart]="basicBarChart.chart" [dataLabels]="basicBarChart.dataLabels"
                                                [plotOptions]="basicBarChart.plotOptions" [xaxis]="basicBarChart.xaxis"
                                                [tooltip]="basicBarChart.tooltip" dir="ltr"></apx-chart>
                                        </div>
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div> <!-- end col-->
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card card-height-100">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title mb-0">Porcentaje de votos</h4>
                                        </div><!-- end card header -->
                              
                                        <div class="card-body">
                                          <apx-chart *ngIf="rendered" [series]="simplePieChart.series" [chart]="simplePieChart.chart"
                                          [labels]="simplePieChart.labels" [legend]="simplePieChart.legend"
                                          [dataLabels]="simplePieChart.dataLabels" [responsive]="simplePieChart.responsive"
                                          [colors]="simplePieChart.colors" [tooltip]="simplePieChart.tooltip" dir="ltr"></apx-chart>
                                        </div><!-- end card-body -->
                                    </div><!-- end card -->
                                </div> <!-- .card-->
                            </div> <!-- .col-->
                            <div class="col-xl-3 col-md-6">
                                <app-stat title="ALBERTO FERNANDEZ" partido="Frente de Todos" value="51%"
                                    persantage="51" votos="32000" bg_color="bg-primary" image="https://www.clarin.com/img/2023/02/13/Zm88zZXxo_360x240__1.jpg"></app-stat>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card card-height-100">
                                    <div class="card-header align-items-center d-flex">
                                        <h4 class="card-title mb-0 flex-grow-1">Información General</h4>
                                        <div class="flex-shrink-0">
                                        </div>
                                    </div><!-- end card header -->
                                    <div class="card-body">
                                        <div class="table-responsive table-card">
                                            <app-top-pages [TopPages]="TopPages"></app-top-pages>
                                        </div><!-- end -->
                                    </div><!-- end cardbody -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                        </div> <!-- end row-->
                    </div><!-- end card header -->
                </div>
                <div class="col-12">
                    <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                        <div class="row">
                            
                        </div> <!-- end row-->
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <!--<div class="row">
                <div *ngFor="let stat of statData" class="col-xl-3 col-md-6">
                    <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"
                        [persantage]="stat.persantage" [profit]="stat.profit" [bg_color]="stat.bg_color"
                        [link]="stat.link"></app-stat>
                </div>
            </div>-->

        </div> <!-- end .h-100-->

    </div> <!-- end col -->
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>